@font-face {
  font-family: 'Strada';
  src: url('/fonts/Strada-Black.woff2') format('woff2'),
      url('/fonts/Strada-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Strada';
  src: url('/fonts/Strada-Light.woff') format('woff2'),
      url('/fonts/Strada-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Strada';
  font-weight: 300;
  font-style: normal;

}

iframe {
  width: 100vw;
  height: 100vh;
  border: 0px;
}

#accessBtn{
  position: absolute;
  width: 40px;
  height: 90.77px;
  right: 0px;
  top: 300px;
  display: inline-block;

  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #26B4F4;
}

#accessBtn{
  background-color: #26B4F4;
}

#header {
  position: absolute;
  color: white;
  width: 100%;
  height: 76px;
  left: 0px;
  top: 0px;
  background-color: #26B4F4;
}

.logoImg {
  padding: 15px;
}

/*Grid CSS*/
#buttonContainer{
  margin: auto;
  margin-top: 100px;
  display: grid;
  gap: 10px 10px;
  grid-template-columns: 80% 80%;
  background-color: white;
  padding: 10px;
  top: 100px;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
}

.blockImg,
.text {
  display: inline-block;
  /* vertical-align: baseline; */
}

.blockImg {
  padding-right: 10px;
  pointer-events: none;
  /* padding-top: 50px */
}

.block {
  background-color: #26B4F4;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
  min-height: 200px;
  max-height: 250px;
  font-family: 'Strada';
  font-weight: 900;
  font-style: normal;

  /* Rectangle 14 */

  /* position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%; */

  background: #109EDE;
  border-radius: 10px;

}


/*Footer & Contact*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* position: relative; */
  width: 100%;
  height: 100px;
  left: 0px;
  bottom: 0px;
  background-color: #26B4F4;
  color: white;
  gap: 50px;
  background-color: #26B4F4;
  padding: 10px;
  font-family: 'Strada';
  font-style: normal;
  font-weight: 300;
}

h2 {
  margin: 0;
}

/*Meterstand */
#stepCounter {
  position: absolute;
  width: 189px;
  height: 32px;
  left: 32%;
  top: 30%;
  font-family: 'Strada';
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
  color: #000000;
  text-align: left;
}

.icon {
  position: relative;
  left: 50%;
  right: 66.94%;
  top: -20%;
  bottom: 75.1%;
}

#h1Meter {
  position: relative;
  width: 472px;
  height: 119px;
  font-family: 'Strada';
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  color: #000000;
  text-align: center;
  top: -30%;
  left: -30%;
}

#formContainer {
  display: grid;
  position: relative;
  width: 350px;
  height: 450px;
  left: 80%;
  top: 0%;
  border:0px gray;
}
/* Forms */

.formLabel {
  display: inline-block;
  width: 140px;
  text-align: left;
}

.formInput {
  background-color: lightgray;
  border: 2px solid lightgray;
  border-radius: 4px;
}

/* #pcInput {
  background-color: lightgray;

}

#tgInput {
  background-color: lightgray;
}

#msInput1 {
  background-color: lightgray;
}

#msInput2 {
  background-color: lightgray;
}

#dateInput {
  background-color: lightgray;
} */

.volgendeBtn {
  display:inline-block;
  width: fit-content;
  left: 57%;
  width: 150px;
  height: 55px;
}

.vorigeBtn {
  width: fit-content;
  top: 65px;
  width: 150px;
}

.volgendeBtn , .vorigeBtn {
  background-color: #FF6C00;

  display:inline-block;
  font-family: 'Strada';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 37px;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
  margin: 4px 2px;
  cursor: pointer;
  height: 55px;
  position: relative;
  text-align: center;
}

/* Hints */
#hintContainer {
  float: left;
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

#toegangsHint {
  position: relative;
  width: 150px;
  height: 150px;
  left: 70%;
  top: 0%;
  background: rgba(196, 196, 196, 0.98);
  border-radius: 5px;
}
#meterstandHint {
  position: relative;
  width: 150px;
  height: 150px;
  left: 70%;
  top: 0%;
  background: rgba(196, 196, 196, 0.98);
  border-radius: 5px;
}

/*Contactgegevens form*/
#email {
  background-color: lightgray;
}

#confirmEmail {
  background-color: lightgray;
}

#mobile {
  background-color: lightgray;
}

#phone {
  background-color: lightgray;
}


/*Home Button*/
.arrow {
  pointer-events: none;
}

.logoImg {
  pointer-events: none;
}

.bigImg {
  width: 100vw;
  height: 100vh;
}


/*# sourceMappingURL=index.css.map */
