  @media screen and (max-width: 900px) {

    @font-face {
      font-family: 'Strada';
      src: url('/fonts/Strada-Black.woff2') format('woff2'),
          url('/fonts/Strada-Black.woff') format('woff');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
    }
    
    @font-face {
      font-family: 'Strada';
      src: url('/fonts/Strada-Light.woff') format('woff2'),
          url('/fonts/Strada-Light.woff') format('woff');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
    }
      
      #header {
        position: absolute;
        color: white;
        width: 100%;
        height: 50px;
        left: 0px;
        top: 0px;
        background-color: #26B4F4;
      }
      
      /*Grid CSS*/
      #buttonContainer{
        margin: auto;
        margin-top: 100px;
        display: grid;
        gap: 10px 10px;
        grid-template-columns: 80% 80%;
        background-color: white;
        padding: 10px;
        top: 100px;
        width: 50%;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
      
      }
      
      .block {
        padding: 20px;
        font-size: 16px;
        text-align: center;
        color: white;
      
        font-family: 'Strada';
        font-weight: 300;
        font-style: normal;
      
        background: #109EDE;
        border-radius: 10px;
      
      }
      
      
      /*Footer & Contact*/
      #footer{
        margin-bottom: 0px;
        position: relative;
        width: 100%;
        height: 150px;
        bottom: 0%;
        background-color: #26B4F4;
        color: white;
        gap: 50px;
        padding: 10px;
      }
      
      /*Meterstand */
      #stepCounter {
        position: relative;
        width: 189px;
        height: 32px;
        left: 0px;
        top: -60%;
        font-family: 'Strada-Light';
        font-style: normal;
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        color: #000000;
        text-align: left;
      }
      
      .icon {
        position: relative;
        left: 70%;
        right: 66.94%;
        top: -10%;
        bottom: 75.1%;
        height: 100px;
        width: 100px;
      }
      
      #h1Meter {
        position: relative;
        width: 472px;
        height: 119px;
        font-family: 'Strada-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        color: #000000;
        text-align: center;
        top: -30%;
        left: -240px;
      }
      
      #formContainer {
        display: grid;
        position: relative;
        width: 250px;
        height: 450px;
        left: -80%;
        top: 0%;
        border:0px gray;
      }
      
      /* Forms */
      
      .formLabel {
        display: inline-block;
        width: 140px;
        text-align: left;
      }
      
      #pcInput {
        background-color: lightgray;
      
      }
      
      #tgInput {
        background-color: lightgray;
      }
      
      #msInput1 {
        background-color: lightgray;
      }
      
      #msInput2 {
        background-color: lightgray;
      }
      
      #dateInput {
        background-color: lightgray;
      }
      
      .volgendeBtn {
        background-color: #FF6C00;
        width: fit-content;
        text-align: center;
        position: relative;
        top: 20%;
        left: 60%;
        width: 100px;
        height: 40px;
        font-family: 'Strada-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 37px;
        color: #FFFFFF;
      }
      
      .volgendeBtn , .vorigeBtn {
        display:inline-block;
        }
      
      .vorigeBtn {
        background-color: #FF6C00;
        width: fit-content;
        text-align: center;
        position: relative;
        top: 120%;
        width: 100px;
        height: 40px;
        font-family: 'Strada-Black';
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 37px;
        color: #FFFFFF;
      }
      
      /* Hints */
      #hintContainer {
        display: grid;
        grid-template-columns: auto auto;
        gap: 5px;
      }
      
      #toegangsHint {
        position: relative;
        width: 150px;
        height: 150px;
        left: 0%;
        top: 0%;
        background: rgba(196, 196, 196, 0.98);
        border-radius: 5px;
      }
      #meterstandHint {
        position: relative;
        width: 150px;
        height: 150px;
        left: 0%;
        top: 0%;
        background: rgba(196, 196, 196, 0.98);
        border-radius: 5px;
      }
    
    }
  
  
  
  
  /*# sourceMappingURL=mobile.css.map */
  