<head>
    <title>Footer</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
</head>
<body>
    <footer>
        <contact>
            <img src="images/contact.png">
            <h2>Contact</h2>
            <p>Oasen N.V.</p>
            <p>Nieuwe Gouwe O.Z. 3</p>
            <p>2801 SB Gouda</p>
            <p><b>Telefoon</b></p>
            <p><a href="tel: 0182-59-35-30">0182-59-35-30</a></p>
            <p><b>E-mail</b></p>
            <p><a href="mailto: info@oasen.nl">info@oasen.nl</a></p>
        </contact>
    </footer>
</body>
